#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#container {
    margin-top: 20px;
}

p, li{
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: justify;
    text-justify: inter-ideograph;
}

.title{
    float: left;
    width: 60%;
}

.logo{
    float:right;
    width:40%;
}

.photo{
    float:left;
    width:25%;
}